<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JavaScript drum kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
      </style>
  </head>

  <body>
      <partial src="_main.html" label="Main"></partial>
    <script src="./assets/js/main.js"></script>
  </body>

</html>
